.board {
    width: min(600px, 85vw);
    height: min(600px, 85vw);
    background-color: var(--light-gray);
    display: grid;
    grid-template-columns: repeat(8, 1fr) !important;
    grid-template-rows: repeat(8, 1fr) !important;
    border: solid 12px var(--light-dark);
    border-radius: 10px;
}
.cube {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.piece {
    font-size: 75px;
}
.white {
    cursor: pointer;
    color: gray;
}
.whiteCube {
    background-color: white;
}
.greenCube {
    background-color: #6AB293;
}
.gray {
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    border-radius: 50%;
    width: 70%;
    height: 70%;
    background-color: gray;
}
.back-to-homePage {
    padding: 10px 20px;
}
.back-down {
    top: 3.3em;
}