* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
body {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(80, 80, 80);
}
.all {
    display: grid;
    grid-template-rows: 6vw 90%;
}
.top {
    display: grid;
    grid-template-columns: 6vw 90%;
}
.top-right {
    display: grid;
}
.bottomNum,
.topNum {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 100, 100);
    border-radius: 30%;
}
.topNum {
    margin-left: 10px;
}
.bottomNum {
    margin-top: 10px;
}
.bottom {
    display: grid;
    grid-template-columns: 6vw 90%;
}
.bottom-left {
    display: grid;
}
.bottom-right {
    background-color: rgb(70, 70, 70);
    display: grid;
}
.gameNums {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(70, 70, 70);
    border: solid;
}
.modes-div {
    position: absolute;
    top: 40%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.mode-title {
    font-size: 50px;
}
.modes {
    display: flex;
}
.mode {
    margin-right: 10px;
    font-size: 30px;
    border: solid;
    border-radius: 20%;
    padding: 10px;
    cursor: pointer;
}
.pick {
    background-color: rgb(60, 60, 60);
}
.circle {
    border: solid;
    background-color: rgb(70, 70, 70);
    color: green;
    border-color: black;
}
.failed {
    color: red;
    border-color: black;
}
.animation {
    animation: redness 1s;
}
@keyframes redness{
    0% {
        color: black
    }
    100% {
        color: red;
    }
}
.heart1,
.heart2,
.heart3 {
    width: 100px;
    height: 100px;
    background-color: red;
    margin-right: 10px;

}
.hearts {
    position: absolute;
    top: 40%;
    left: 75%;
    display: flex;
}
.result {
    position: absolute;
    top: 30%;
    left: 80%;
    font-size: 30px;
}
.playAgain {
    position: absolute;
    top: 60%;
    left: 80%;
    font-size: 30px;
    background-color: rgb(75, 75, 75);
    padding: 10px;
    border-radius: 15px;
    border: solid;
    border-width: 0.5px;
    box-shadow:  14px 14px 23px #444444,
                 -14px -14px 23px #535353;
    cursor: pointer;
}
.playAgain:active {
    box-shadow: inset 14px 14px 23px #444444,
                inset -14px -14px 23px #535353;
}