.board {
    width: min(600px, 85vw);
    height: min(600px, 85vw);
    background-color: var(--light-gray);
    display: grid;
    grid-template-columns: repeat(8, 1fr) !important;
    grid-template-rows: repeat(8, 1fr) !important;
}
.cube {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}
.piece {
    font-size: 75px;
}
.white {
    cursor: pointer;
}
.whiteCube {
    background-color: white;
}
.greenCube {
    background-color: #6AB293;
}