* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: salmon;
}

.all {
    display: grid;
    grid-gap: 5px;
    border: none;
    background-color: rgb(70, 70, 70);
    padding: 13px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.cube {
    width: min(50px, 6vw);
    height: min(50px, 6vw);
    background-color: rgb(160, 159, 159);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 15px;
    color: transparent;
}
.result {
    position: absolute;
    left: 50%;
    top: 7%;
    translate: -50% -50%;
    font-size: 25px;
}

svg {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
}