* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: salmon;
}

.all {
    display: grid;
    grid-gap: 5px;
    border: none;
    background-color: rgb(70, 70, 70);
    padding: 13px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.cube {
    width: min(50px, 9vw);
    height: min(50px, 9vw);
    background-color: rgb(160, 159, 159);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 15px;
    color: transparent;
}
.result {
    position: absolute;
    left: 50%;
    top: 7%;
    translate: -50% -50%;
    font-size: 45px;
}
svg {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
}
.side-left {
    position: absolute;
    top: 50%;
    left: calc(50% - 350px);
    translate: -50% -50%;
    font-size: 25px;
    width: 170px;
}
.side-right {
    position: absolute;
    top: 50%;
    left: calc(50% + 350px);
    translate: -50% -50%;
    font-size: 25px;
    width: 170px;
    margin-left: 40px;
}


.down-left {
    position: absolute;
    top: 94%;
    left: calc(50% - 75px);
    translate: -50% -50%;
    font-size: 25px;
    width: 170px;
}
.down-right {
    position: absolute;
    top: 94%;
    left: calc(50% + 75px);
    translate: -20% -50%;
    font-size: 25px;
    width: 170px;
}