.board {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: min(600px, 85vw);
    height: min(600px, 85vw);
    padding: min(20px, 4vw);
    border-radius: 20px;
}
.dark {
    background-color: var(--light-dark);
} /* CUBES!! */
.light {
    background-color: lightgray;
} /* CUBES!! */



.piece {
    background-color: gray;
    border: solid lightgreen 3px;
    border-radius: 50%;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    color: transparent;
}
.white {
    background-color: var(--light-gray);
    cursor: pointer;
}
.black {
    background-color: black;
}
.gray {
    border-color: gray;
    width: 50%;
    height: 50%;
    cursor: pointer;
}