* { 
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
body {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board {
    width: 90%;
    height: 100%;
    display: grid;
    border: solid;
    border-width: 30px;
    border-color: darkgreen;
    gap: 0;
}
.all {
    background-color: #AAD751;
}
.cube {
    display: flex;
    color: transparent;
}