* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
html,
body {
    height: 100vh;
    width: 100vw;
    background-color: salmon;
}

.all {
    display: grid;
    grid-gap: 5px;
    border: none;
    background-color: rgb(70, 70, 70);
    padding: min(2vw, 20px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 475px;
    height: 475px;
}
.big {
    width: 90vw;
    height: 90vw;
}

.cube {
    width: 1fr;
    height: 1fr;
    background-color: rgb(160, 159, 159);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 25%;
    color: transparent;
}
.result {
    position: absolute;
    left: 50%;
    top: 7%;
    translate: -50% -50%;
    font-size: 45px;
}
svg {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
}
.side-left {
    position: absolute;
    top: 50%;
    left: calc(50% - 350px);
    translate: -50% -50%;
    font-size: 30px;
    width: 170px;
}
.side-right {
    position: absolute;
    top: 50%;
    left: calc(50% + 350px);
    translate: -50% -50%;
    font-size: 30px;
    width: 170px;
    margin-left: 40px;
}


.down-left {
    position: absolute;
    top: 94%;
    left: calc(50% - 75px);
    translate: -50% -50%;
    font-size: 25px;
    width: 170px;
}
.down-right {
    position: absolute;
    top: 94%;
    left: calc(50% + 75px);
    translate: -20% -50%;
    font-size: 25px;
    width: 170px;
}
.playAgain {
    position: absolute;
    top: 90%;
    left: 50%;
    translate: -50% -50%;
    font-size: 33px;
    padding: 10px;
    border-radius: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.salmon {
    box-shadow:  8px 8px 27px #a8564c,
                 -8px -8px 27px #ffaa98;
}

.salmon:active {
    box-shadow: inset 8px 8px 27px #a8564c,
                inset -8px -8px 27px #ffaa98;
}
.blue {
    box-shadow:  8px 8px 27px #74919a,
                -8px -8px 27px #e6ffff;
}
.blue:active {
    box-shadow: inset 8px 8px 27px #74919a,
                inset -8px -8px 27px #e6ffff;
}
a {
    color: black;
    font-size: 30px;
    padding-left: 50px;
}