* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html,
body {
    height: 100vh;
    width: 100vw;
    background-color: var(--default-bg);
}

.all {
    display: grid;
    grid-gap: 5px;
    border: none;
    background-color: rgb(70, 70, 70);
    padding: min(2vw, 20px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 475px;
    height: 475px;
}
.big {
    width: 90vw;
    height: 90vw;
}

.cube {
    width: 1fr;
    height: 1fr;
    background-color: rgb(160, 159, 159);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 25%;
    color: transparent;
}
.result {
    position: absolute;
    left: 50%;
    top: 7%;
    translate: -50% -50%;
    font-size: 45px;
}
svg {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
}
.side-left {
    position: absolute;
    top: 50%;
    left: calc(50% - 350px);
    translate: -50% -50%;
    font-size: 30px;
    width: 170px;
}
.side-right {
    position: absolute;
    top: 50%;
    left: calc(50% + 350px);
    translate: -50% -50%;
    font-size: 30px;
    width: 170px;
    margin-left: 40px;
}


.down-left {
    position: absolute;
    top: 94%;
    left: calc(50% - 75px);
    translate: -50% -50%;
    font-size: 25px;
    width: 170px;
}
.down-right {
    position: absolute;
    top: 94%;
    left: calc(50% + 75px);
    translate: -20% -50%;
    font-size: 25px;
    width: 170px;
}
.playAgain {
    position: absolute;
    top: 90%;
    left: 50%;
    translate: -50% -50%;
    font-size: 33px;
    padding: 10px;
    border-radius: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.salmon {
    box-shadow: var(--shadow-before)

}
.salmon:hover {
    box-shadow: var(--shadow-after);
}

.salmon:active {
    box-shadow: inset 4px 4px 12px gray
}
.blue {
    box-shadow: var(--shadow-before)

}
.blue:hover {
    box-shadow: var(--shadow-after);
}

.blue:active {
    box-shadow: inset 4px 4px 12px gray
}
a {
    position: fixed;
    text-decoration: none;
    color: var(--text-primary);
    box-shadow: var(--shadow-before);
    top: 1.25rem;
    left: 1.25rem;
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    font-size: 1.875rem;
}

a:hover {
    transform: translateX(-2px);
    box-shadow: var(--shadow-after);
}